html {
	font-family: 'IBM Plex Sans';
	font-weight: 500;
}

h1,
h2 {
	font-family: 'IBM Plex Mono';
	font-weight: 800;
}

h2 {
	font-size: 28px;
}

@font-face {
	font-family: 'IBM Plex Mono';
	src: url('/fonts/ibm_plex_mono/bold.woff2');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'IBM Plex Mono';
	src: url('/fonts/ibm_plex_mono/medium.woff2');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'IBM Plex Mono';
	src: url('/fonts/ibm_plex_mono/normal.woff2');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'IBM Plex Sans';
	src: url('/fonts/ibm_plex_sans/medium.woff2');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/inter/bold.woff2');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/inter/extra_bold.woff2');
	font-weight: 800;
	font-display: swap;
}
